{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body_class %}
    login-page
{% endblock %}

{% block main %}
    <style>
        /* Decorative background elements */
        .shape-1 {
            width: 300px;
            height: 300px;
            top: -150px;
            left: -150px;
        }

        .shape-2 {
            width: 200px;
            height: 200px;
            bottom: 5px;
            left: 1000px;
        }
    </style>

    <div class="background-shapes">
        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
    </div>

    <div class="login-form-container">
        <h1 class="login-form-title">Welcome Back</h1>
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="login-form-control" name="username" placeholder="Username" type="text" required>
            </div>
            <div class="mb-3">
                <input class="login-form-control" name="password" placeholder="Password" type="password" required>
            </div>
            <button class="login-button" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}